root=true

[*]
end_of_line=lf
insert_final_newline=true
trim_trailing_whitespace=true

[*.{js,css,php,html,txt,webmanifest}]
charset=utf-8

[*.{js,css,php,html,webmanifest}]
indent_style=space
indent_size=4